/******All-HTML Style*****/
* {
    scroll-behavior: smooth;
   margin:0;
}

/********Scrollbar style*********/
::-webkit-scrollbar {
  width: 10px;
  background-color: #242526;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 50px;
}



/********Header styles***********/
.header {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.links {
    margin: 30px 40px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
   
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.58);
    height: 53.px;
    z-index: 2;
}

#name {
  margin:10px 30px;
}

.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0 30px 0 0;
}

.links li {
  padding: 15px 16px;
  transition: transform .3s;
}

.links li:hover {
  transform: translateX(10px);
  cursor: pointer;
}

.links a {
  color: inherit;
  text-decoration: none;
}

.header2 {
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
  flex-wrap: wrap;
}

.titles {
  color: whitesmoke;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 54px;
  z-index: 3;
  padding-top: 160px;
  padding-bottom: 40px;
}

.sub {
  font-size: 46px;
  font-weight: normal;
}

.image-container {
  display: flex;
}

.image-container img {
  height: 600px;
  align-items: end;
}

.titles  h2 {
  margin: 2px 0;
}

/********* About Section Styles **********/
.summary {
  padding-top: 100px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: black; 
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
}

.summary h2 {
  margin-top: 60px;
  display: inline-block;
  font-size: 50px;
  padding: 0 0 40px 7%;
  font-weight: normal;
}

.summary p {
  font-size: 24px;
  padding: 0 12% 0;
  text-align: justify;
}

.summary a {
  background-color: #1451AC; 
  font-size: 18px;
  justify-content: center;
  margin: 50px 12% 50px 78%;
  border-radius: 30pt;
  align-items: center;
  height: 40px;
  display: flex;
  transition: transform .3s;
  color: inherit;
    text-decoration: none;
}

.summary a:hover{
  transform: translatey(-10px);
  background-color: #1451AC;
  cursor: pointer;
}

/*****Projects Section Styles*******/
.projects {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: black;  
  font-family: 'IBM Plex Mono', monospace;
  padding: 80px 7% 80px;
}

.project1 {
  padding: 40px;
}

.projects h2 {
  font-weight: normal;
  margin: 0px 0 10px;
  font-size: 50px;
  text-align: left;
  padding: 30px 0 40px 30px;
  width: 45%;
  border-top: 4px solid #1451AC;
  border-left: 4px solid #1451AC;

}

.projects .project-container {
  display: flex;
  justify-content: space-between;
}

.container-tech h3 {
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
}

.projects .info-container {
  display: flex;
}

.number {
  display: flex;
  align-items: center;
}

.projects h1 {
  color:whitesmoke;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:#1451AC;
  font-size: 90px;
  padding-left: 60px;
}

.projects .container-footer, .container-footer div{
  display: flex;
  justify-content: space-between;
}

.projects .info-container img {
  width: 70%;
  height: fit-content;
  border-radius: 20px;
}

.container-footer a {
  margin-right: 10px;
}

.container-footer img {
  height: 30px;
}

.container-footer img:hover {
  opacity: 0.5;
}

.info-container p {
  padding: 2%;
  border-radius: 20px 0 0 20px;
  height: auto;
  
  text-align: justify;
  font-size: 1em;
  flex-grow: 1; /* allow the p tag to grow and fill the available space */
  flex-shrink: 1; /* allow the p tag to shrink if needed */
  overflow: auto;
}

.container-footer {
  padding-top: 10px;
}


/*****Technical Stack Styles*****/
.technical {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: black;  
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  padding: 80px 7% 200px;
}

.technical line {
  background-color:#1451AC;
  height: 4px;
  width: 47%;
  display: flex;
  margin-bottom: 40px;
}

.technical h2{
  font-weight: normal;
  margin: 0px 0 10px;
  font-size: 50px;
  text-align: left;
  padding-bottom: 40px;
}

.graphic img {
  height: 350px;
}

.container-tech {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills {
  width: auto;
}

.skills img {
  height: 120px;
  padding: 20px;
}

blockquote {
    font-size: 20px;
}



/********Experience Styles*********/
.experience{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: black;  
  font-family: 'IBM Plex Mono', monospace;
  padding: 80px 7% 200px;
}

.experience line {
  background-color:#1451AC;
  height: 4px;
  width: 75%;
  display: flex;
}

.container-all-experience {
  display: flex;
  border-radius: 20px 0;
    border-top: 5px solid #1451AC;
    border-left: 5px solid #1451AC;
    padding-left: 60px;
}

.experience vline {
  background-color:#1451AC;
  width: 4px;
  display: flex;
  margin-right: 50px;
}

.experience h2{
  font-size: 50px;
  font-weight: normal;
  padding-top: 40px;
}

.container-logo {
  text-align: right;
  width: 30%;
}

.container-info{
  display: flex;
  gap: 30px;
}

.date {
  text-align: left;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

.employeer {
  color:#1451AC;
  text-align: right;
}

.experience .info {
  width: 70%;
}

.experience img {
  padding: 20px 0 0;
  width: 100%;
}

.experience ul {
  list-style-type: none;
  padding:0;
}

.experience li {
  padding: 8px 0;
  line-height: 30px;
  text-align: justify;
}

.experience-one {
  padding-top: 30px;
}

.experience-two {
  padding-top: 100px;
}